{% extends "SnowcapSiteBundle:Admin:base.html.twig" %}
{% block body %}
<h2>{{ form_title }}</h2>
<form action="{{ path(form_action, { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
	{{ form_errors(form) }}
	{{ form_row(form.title) }}
	{{ form_row(form.body) }}
    {{ form_row(form.published_at, { 'widget_attr': {'class': 'datepicker'}}) }}
    {{ form_rest(form) }}
	<p>
		<button type="submit" class="ui-icon ui-icon-circle-check">Save</button>
	</p>
</form>
<nav>
	<a href="{{ path('admin_posts') }}" class="ui-button ui-icon ui-icon-circle-triangle-w">Back to the list</a>
</nav>
{% endblock %}