{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
{% spaceless %}
    <div class="form-row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {'attr': widget_attr|default({})}) }}
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block datetime_widget %}
    {% set attr = attr|merge({'class': 'widget-datetimepicker' }) %}
    {{ block('field_widget') }}
{% endblock %}

{% block slug_widget %}
    {% set attr = attr|merge({'class': 'widget-slug widget-slug-' ~ target }) %}
    {{ block('field_widget') }}
{% endblock slug_widget %}

{% block markdown_widget %}
    {% set attr = attr|merge({'class': 'widget-markdown' }) %}
    {{ block('textarea_widget') }}
{% endblock markdown_widget %}

{% block form_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': 'form'}) %}
    <div {{ block('widget_container_attributes') }}>
        {{ block('field_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget %}

{% block _project_images_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    {{ block('images_widget') }}

    <hr size="1" width="100%" noshade />

    <a href="#" class="add_image">Add an image</a>

{% endspaceless %}
{% endblock %}

{% block images_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {{ block('images_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock images_widget %}

{% block images_rows %}
{% spaceless %}
    {{ form_errors(form) }}
    {% for image in form %}
        <div>

            {% set productimage = image.get('value') %}

            <img src="{{ productimage.webPath | imagine_filter('thumb')}}" style="float:left;padding-right:5px;">
            <div>

                or replace:

                {{ form_errors(image) }}
                {{ form_widget(image, {'attr': widget_attr|default({})}) }}

            </div>
        </div>
    {% endfor %}
{% endspaceless %}
{% endblock images_rows %}