{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
{% spaceless %}
    <div class="form-row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {'attr': widget_attr|default({})}) }}
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block datetime_widget %}
    {% set attr = attr|merge({'class': 'widget-datetimepicker' }) %}
    {{ block('field_widget') }}
{% endblock %}

{% block slug_widget %}
    {% set attr = attr|merge({'class': 'widget-slug widget-slug-' ~ target }) %}
    {{ block('field_widget') }}
{% endblock slug_widget %}