<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}SNOWCAP{% endblock %}</title>
        {% stylesheets 'assets/front/css/*' output='static/css/all.css' filter='cssrewrite, ?yui_css' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="alternate" type="application/rss+xml" title="{{ 'general.feed.title' | trans }}" href="{{ path('snwcp_site_post_feed') }}" />
    </head>
    <body class="{{ body_class | default('default') }}">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <header>
            {% block header %}
                {% include 'SnowcapSiteBundle::navigation.html.twig' %}
            {% endblock %}
        </header>
        <div class="wrapper">
            {% block body %}{% endblock %}
        </div>
        <footer>
            {{ "general.footer" | trans({"%date%": "now" | date('Y') }) | markdown }}
        </footer>
        {% javascripts 'assets/vendors/jquery/*' 'assets/front/js/*' output='static/js/all.js' filter='yui_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
    </body>
</html>
