<!DOCTYPE html>
<html>
    <head>
        {% import "SnowcapSiteBundle::macros.html.twig" as macro %}
        {% block meta %}
            {{
                macro.meta(
                    'Snowcap',
                    'Snowcap is a web agency that specializes in open-source web development (PHP, Symfony, Zend, Python, HTML, Javascript, CSS, ..). We also offer functional and technical analysis, as well as Linux IT support',
                    'web, agency, development, analysis, open-source, IT, PHP, Symfony, Zend, Python, HTML, Javascript, CSS, Linux'
                )
            }}
        {% endblock meta %}
         {% stylesheets 'assets/front/css/*.css' output='static/css/all.css' filter='cssrewrite, ?yui_css' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        <!--[if (gte IE 6)&(lte IE 8)]>
            {% javascripts 'assets/front/js/modernizr.js' output='static/js/ie.js' filter='yui_js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        <![endif]-->
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="alternate" type="application/rss+xml" title="{{ "general.feed.title" | trans }}" href="{{ url('snwcp_site_post_feed') }}" />
    </head>
    <body class="{{ body_class | default('default') }}">
        <header>
            {% block header %}
                {% include 'SnowcapSiteBundle::navigation.html.twig' %}
            {% endblock %}
        </header>
        <div class="wrapper">
            {% block body %}{% endblock %}
        </div>
        <footer>
            {% include 'SnowcapSiteBundle::footer.html.twig' %}
        </footer>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-18973609-2']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% javascripts 'assets/vendors/jquery/jquery-1.7.js' 'assets/front/js/screen.js' output='static/js/all.js' filter='yui_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
