<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}SNOWCAP{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('/assets/front/css/screen.css') }}" type="text/css" rel="stylesheet" />
            <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{{ body_class | default('default') }}">
        <header>
            {% block header %}
                <nav>
                    <h1><a href="{{ url('snwcp_site_default_index') }}">Snowcap</a></h1>
                    <a href="{{ url('snwcp_site_default_index') }}">{{ "navigation.home" | trans }}</a>
                    <a href="{{ url('snwcp_site_default_company') }}">{{ "navigation.company" | trans }}</a>
                    <a href="{{ url('snwcp_site_default_method') }}">{{ "navigation.method" | trans }}</a>
                    <a href="{{ url('snwcp_site_default_team') }}">{{ "navigation.team" | trans }}</a>
                    <a href="{{ url('snwcp_site_post_list') }}">{{ "navigation.posts" | trans }}</a>
                    <a href="{{ url('snwcp_site_project_list') }}">{{ "navigation.projects" | trans }}</a>
                    <a href="{{ url('snwcp_site_default_contact') }}">{{ "navigation.contact" | trans }}</a>
                </nav>
            {% endblock %}
        </header>
        {% block body %}{% endblock %}
        <footer>
            <address>
                {% include "SnowcapSiteBundle:Widget:contact.html.twig" %}
            </address>
            <aside class="technology">
                {% include "SnowcapSiteBundle:Widget:technology.html.twig" %}
            </aside>
        </footer>
        {% block javascripts %}
            <script type="text/javascript" src="/assets/vendors/jquery/jquery-1.6.1.min.js"></script>
            <script type="text/javascript" src="/assets/vendors/jquery/jquery-ui-1.8.13.custom.min.js"></script>
			<script type="text/javascript" src="/assets/front/js/screen.js"></script>
        {% endblock %}
    </body>
</html>
