<address class="vcard">
        &copy; <span class="fn org">{{ "contact.official_name" | trans }}</span> {{ "now" | date('Y') }}
        |
        <span class="tel"><span class="type">{{ "contact.phone.type" | trans }}</span>{{ "contact.phone.number" | trans }}</span>
        |
        <span class="adr">
            <span class="street-address">{{ "contact.address.street" | trans }}</span>
            <span class="postal-code">{{ "contact.address.zip" | trans }}</span>
            <span class="locality">{{ "contact.address.city" | trans }}</span>
        </span>
        |
        <a href="#" class="obem"></a>
</address>
<a href="http://1md.be" id="onemd" rel="external" title="Design made by 1MD">Design made by 1MD</a>