{% macro project_image_flipper(project, format) %}
    <img
        class="front"
        src="{{ project.thumb_front.path|imresize(format) }}"
        alt="{{ project.thumb_front.alt }}"
    />
    <img
        class="back"
        src="{{ project.thumb_back.path|imresize(format) }}"
        alt="{{ project.thumb_back.alt }}"
    />
{% endmacro %}

{% macro meta(title, description, keywords, image) %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}</title>
    <link rel="image_src" href="{{ asset('assets/front/images/snowcap.png') }}"/>
    <meta name="description" content="{{ description}}">
    <meta name="keywords" content="{{ keywords}}">
    <meta property="og:site_name" content="Snowcap"/>
    <meta property="og:url" content="{{ app.request.uri }}"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:type" content="website"/>
    {% if image is not null %}
        <meta property="og:image" content="{{ image }}"/>
    {% endif %}
    <meta property="og:image" content="{{ asset('assets/front/images/snowcap.png') }}"/>
    <meta property="og:image" content="{{ asset('assets/front/images/snowcap_faces.jpg') }}"/>

    <meta property="og:latitude" content="50.833713633671"/>
    <meta property="og:longitude" content="4.4054032858797"/>
    <meta property="og:street-address" content="395, Chaussée de Stockel"/>
    <meta property="og:locality" content="Woluwe-Saint-Pierre"/>
    <meta property="og:region" content="Brussels"/>
    <meta property="og:postal-code" content="1150"/>
    <meta property="og:country-name" content="Belgium"/>

    <meta property="og:phone_number" content="+32 2 762 14 63"/>
{% endmacro %}

