{% macro project_image_flipper(project, format) %}
    <img
        class="front"
        src="{{ project.thumb_front.webPath | imagine_filter(format) }}"
        alt="{{ project.thumb_front.alt }}"
    />
    <img
        class="back"
        src="{{ project.thumb_back.webPath | imagine_filter(format) }}"
        alt="{{ project.thumb_back.alt }}"
    />
{% endmacro %}

{% macro meta(title, description, keywords) %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description}}">
    <meta name="keywords" content="{{ keywords}}">
    <link rel="image_src" href="{{ asset('assets/front/images/snowcap.png') }}"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ asset('assets/front/images/snowcap.png') }}"/>
    <meta property="og:image" content="{{ asset('assets/front/images/snowcap_faces.jpg') }}"/>
    <meta property="og:url" content="{{ url('snwcp_site_default_index') }}"/>
    <meta property="og:site_name" content="Snowcap"/>
    <meta property="og:description" content="{{ description }}"/>

    <meta property="og:latitude" content="50.833713633671"/>
    <meta property="og:longitude" content="4.4054032858797"/>
    <meta property="og:street-address" content="75 Boulevard Saint-Michel"/>
    <meta property="og:locality" content="Etterbeek"/>
    <meta property="og:region" content="Brussels"/>
    <meta property="og:postal-code" content="1040"/>
    <meta property="og:country-name" content="Belgium"/>

    <meta property="og:phone_number" content="+32 2 808 22 29"/>
{% endmacro %}

