{% macro project_image_flipper(project, format) %}
    <img
        class="front"
        src="{{ project.thumb_front.webPath | imagine_filter(format) }}"
        alt="{{ project.thumb_front.alt }}"
    />
    <img
        class="back"
        src="{{ project.thumb_back.webPath | imagine_filter(format) }}"
        alt="{{ project.thumb_back.alt }}"
    />
{% endmacro %}

{% macro meta(title, description, keywords) %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description}}">
    <meta name="keywords" content="{{ keywords}}">
    <link rel="image_src" href="{{ asset('assets/front/images/snowcap.png') }}"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="{{ asset('assets/front/images/snowcap.png') }}"/>
{% endmacro %}

