{% macro menu_link(label, route_name, controller, action) %}
    <a href="{{ url(route_name) }}" {% if is_menu_active(app.request.get('_controller'), controller, action) %} class="active" {%endif %} >{{ label | trans }}</a>
{% endmacro %}
<nav>
    <h1>{{ _self.menu_link('general.snowcap', 'snwcp_site_default_index', 'Default', 'index') }}</h1>
    {{ _self.menu_link('navigation.services', 'snwcp_site_default_services', 'Default', 'services') }}
    {{ _self.menu_link('navigation.projects', 'snwcp_site_project_index', 'Project', 'list') }}
    {{ _self.menu_link('navigation.posts', 'snwcp_site_post_list', 'Post', 'list') }}
    {{ _self.menu_link('navigation.company', 'snwcp_site_default_company', 'Default', 'company') }}
    {{ _self.menu_link('navigation.team', 'snwcp_site_default_team', 'Default', 'team') }}
    {{ _self.menu_link('navigation.contact', 'snwcp_site_default_contact', 'Default', 'contact') }}
    <div class="fb-like" data-href="http://www.facebook.com/snwcp" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-colorscheme="dark"></div>
</nav>