{% macro menu_link(label, route_name, class) %}
    <a href="{{ url(route_name) }}" class="{{ class }}{% if is_menu_active(app.request.get('_route'), route_name) %} active{%endif %}">{{ label | trans }}</a>
{% endmacro %}
<nav>
    <h1>{{ _self.menu_link('general.snowcap', 'snwcp_site_default_index', 'home') }}</h1>
    {{ _self.menu_link('navigation.services', 'snwcp_site_default_services', 'services') }}
    {{ _self.menu_link('navigation.cases', 'snwcp_site_project_index', 'cases') }}
    {{ _self.menu_link('navigation.posts', 'snwcp_site_post_list', 'blog') }}
    {{ _self.menu_link('navigation.company', 'snwcp_site_default_company', 'company') }}
    {{ _self.menu_link('navigation.team', 'snwcp_site_default_team', 'team') }}
    {{ _self.menu_link('navigation.contact', 'snwcp_site_default_contact', 'contact') }}
</nav>