<div class="comments-container">
    {% include 'SnowcapSiteBundle:Post:comments_count.html.twig' %}
    <div class="comments">
        {% if (post.getValidComments()|length) > 0 %}
            <ul class="comments-list">
                {% for comment in post.getComments() %}
                    <li>
                        <h3>{{ 'blog.comment.title' | trans({'%relative_time%': comment.getPublishedAt()|time_ago, '%name%': comment.getName() }) | raw }}</h3>
                        <p>{{ comment.body | nl2br }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{{ path('snwcp_site_post_comment', {'slug': post.slug }) }}" method="post" id="comment" {{ form_enctype(form) }}>
            {% if post_result is not null %}
                <p class="comments-post-result">{{ post_result | trans }}</p>
            {% endif %}
            {{ form_widget(form) }}

            <input type="submit" value="{{ "blog.comment.submit" | trans }}" />
        </form>
    </div>
</div>