<h2><a href="{{ path('snwcp_') }}">{{ "post.latest.title" | trans }}</a></h2>
{% if latestPosts|length > 0 %}
    {% for post in latestPosts %}
        <article>
            <h3>{{ post.title }}</h3>
            {{ post.summary | markdown }}
            <a href="{{ url('snwcp_site_post_show', { 'slug': post.slug }) }}" title="{{ "general.readmore.title" | trans }}">{{ "general.readmore.label" | trans }}</a>
        </article>
    {% endfor %}
{% else %}
    <p>{{ "post.latest.empty" | trans }}</p>
{% endif %}