{% extends "SnowcapSiteBundle::base.html.twig" %}
{% set body_class = 'blog blog-listing' %}
{% block body %}
    <h1 class="main-title">{{ "post.list.title" | trans }}</h1>
    <div class="full">
        <section class="main content">
            <ul>
                {% for post in posts %}
                    <li>
                        {% if post.thumb %}
                            <img class="thumb" src="{{ post.thumb.webPath | apply_filter('thumb') | static_path }}" alt="{{ post.thumb.alt }}" />
                        {% endif %}
                        <h2>{{ post.title }}</h2>
                        <p class="published">{{ post.published_at | time_ago }}</p>
                        {{ post.summary | markdown }}
                        {% if post.body %}
                            <a href="{{ url('snwcp_site_post_show', { 'slug': post.slug }) }}" title="{{ 'Read more' | trans }}" class="read-more">{{ 'Read more' | trans }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock body %}