{% extends "SnowcapSiteBundle::base.html.twig" %}
{% block meta %}
    {{
        macro.meta(
            "blog.meta.title" | trans,
            "blog.meta.keywords" | trans,
            "blog.meta.keywords" | trans
        )
    }}
{% endblock meta %}
{% set body_class = 'blog blog-listing' %}
{% block body %}
    <h1 class="main-title">{{ "blog.title" | trans }}</h1>
    <div class="split split-2">
        <section class="main content">
            {% if posts|length > 0 %}
                <ul>
                    {% for post in posts %}
                        <li class="{{ post.category.slug }}{% if post.thumb %} withthumb{% endif %}">
                            {% if post.thumb %}
                            <a href="{{ url('snwcp_site_post_show', { 'slug': post.slug }) }}" title="{{ "general.readmore.title" | trans }}"><img class="thumb" src="{{ post.thumb.path|imresize('thumb') }}" alt="{{ post.thumb.alt }}" /></a>
                            {% endif %}
                            <h2 class="post-title"><span class="icon"></span>{{ post.title }}</h2>
                            <p class="published">
                                {% trans with {'%on%': post.published_at | time_ago, '%in%': post.category.name, '%in_url%': path('snwcp_site_post_list', {"category_slug": post.category.slug }) } %}
                                    blog.published_on_in
                                {% endtrans %}
                            </p>
                            {{ post.summary | markdown }}
                            {% if post.body %}
                                <p class="read-more"><a href="{{ url('snwcp_site_post_show', { 'slug': post.slug }) }}" title="{{ 'Read more' | trans }}" class="read-more">{{ 'Read more' | trans }}</a></p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{{ "blog.list.empty" | trans }}</p>
            {% endif %}
        </section>
        <aside>
            {% macro category_link(category, current_category) %}
                <a href="{{ path('snwcp_site_post_list', {'category_slug': category}) }}"  class="{{ category ? category : "all" }}{% if current_category == category %} active{%endif %}">{{ ("blog.category." ~ ( category ? category : "all" ) ~ ".label") | trans }}</a>
            {% endmacro %}
            <nav>
                {{ _self.category_link(null, current_category) }}
                {{ _self.category_link('thoughts', current_category) }}
                {{ _self.category_link('cases', current_category) }}
                {{ _self.category_link('events', current_category) }}
            </nav>
        </aside>
    </div>
{% endblock body %}