{% extends "SnowcapSiteBundle::base.html.twig" %}
{% block body %}
    <h2>{{ "post.list.title" | trans }}</h2>
    {% for post in posts %}
        <h3>{{ post.title }}</h3>
        <h4>{{ post.publishedAt | relativeTime }}</h4>
        <p>
            {{ post.summary | markdown }}
            {% if post.body %}
                <a href="{{ url('snwcp_site_post_show', { 'slug': post.slug }) }}" title="{{ 'Read more' | trans }}" class="read-more">{{ 'Read more' | trans }}</a>
            {% endif %}
        </p>
        ({{post.category.name}})
        {% if post.technologies|length > 0 %}
            <ul class="post-list">
                {% for technology in post.technologies %}
                    <li>{{technology.name}}</li>
                {%endfor%}
            </ul>
        {% endif %}
    {% else %}
        <p>{{ "post.list.empty" | trans }}</p>
    {% endfor %}
{% endblock body %}