{% extends "SnowcapSiteBundle::base.html.twig" %}
{% set body_class = 'blog blog-listing' %}
{% block body %}
    <h1 class="main-title">{{ "post.list.title" | trans }}</h1>
    <div class="full">
        <section class="main content">
            <ul>
                {% for post in posts %}
                    <li>
                        {% if post.thumb %}
                            <img class="thumb" src="{{ post.thumb.webPath | imagine_filter('thumb') }}" alt="{{ post.thumb.alt }}" />
                        {% endif %}
                        <h2>{{ post.title }}</h2>
                        <p class="published">{{ post.published_at | time_ago }}</p>
                        {{ post.summary | markdown }}
                        {% if post.body %}
                            <a href="{{ url('snwcp_site_post_show', { 'slug': post.slug }) }}" title="{{ 'Read more' | trans }}" class="read-more">{{ 'Read more' | trans }}</a>
                        {% endif %}
                        <div class="comments-count">
                            {{ 'blog.comments.count' | transchoice(post.getComments()|length) }}
                            <a href="{{ path('snwcp_site_post_show', {'slug': post.slug }) }}" title="{{ 'blog.comment.post.title' | trans }}" class="post-comment-link">{{ 'blog.comment.post.label' | trans }}</a>
                        </div>

                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock body %}