<h2><a href="">{{ "blog.title" | trans }}</a></h2>
{% if latestPosts|length > 0 %}
    {% for post in latestPosts %}
        <article>
            {% if post.thumb %}
                <img src="{{ post.thumb.webPath | imagine_filter('post_thumb') }}"/>
            {% endif %}
            <h3>{{ post.title }}</h3>
            {{ post.summary | markdown }}
            <p class="read-more"><a href="{{ url('snwcp_site_post_show', { 'slug': post.slug }) }}" title="{{ "general.readmore.title" | trans }}">{{ "general.readmore.label" | trans }}</a></p>
        </article>
    {% endfor %}
{% else %}
    <p>{{ "blog.latest.empty" | trans }}</p>
{% endif %}