{% extends "SnowcapAdminBundle::base.html.twig" %}

{% block body %}
<section class="section-700">
	<h2>{{ "content.list" | trans({'%content_name%': admin.contentName}) }}</h2>
	<table class="listing">
		<thead>
			<tr>
				{% for field_name, field_params in admin.gridFields %}
				    {{ grid_header(field_name, field_params) }}
				{% endfor %}
				<th>{{ "content.actions" | trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
                <tr>
                    {% for field_name, field_params in admin.gridFields %}
                        {{ grid_cell(entity, field_name, field_params) }}
                    {% endfor %}
                    <td class="listing-actions">
                        <a href="{{ path('content_update', {'type': type, 'id': entity.id }) }}" class="ui-button ui-button-icon-only ui-icon ui-icon-pencil">{{ "content.edit" | trans }}</a>
                        <a href="{{ path('content_delete', {'type': type, 'id': entity.id }) }}" class="ui-button ui-button-icon-only ui-icon ui-icon-trash">{{ "content.delete" | trans }}</a>
                    </td>
                </tr>
			{% endfor %}
		</tbody>
	</table>
	<nav>
		<a href="{{ path('content_create', {'type':type}) }}" class="ui-button ui-icon ui-icon-circle-plus">{{ "content.create" | trans({'%content_name%': admin.contentName | lower }) }}</a>
	</nav>
</section>
{% endblock %}