{% extends "SnowcapAdminBundle::base.html.twig" %}
{% block body %}
<section class="section-700">
	<h2>{{ admin.contentName }} list</h2>
	<table class="listing">
		<thead>
			<tr>
				{% for field_name, field_params in admin.gridFields %}
                    <th>{{ field_name }}</th>
				{% endfor %}
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
			<tr>
				{% for field_name, field_params in admin.gridFields %}
                    {{ column(entity, field_name, field_params) }}
				{% endfor %}
				<td class="listing-actions">
					<a href="{{ path('content_show', {'type': type, 'id': entity.id }) }}" class="ui-button ui-button-icon-only ui-icon ui-icon-zoomin">show</a>
					<a href="{{ path('content_update', {'type': type, 'id': entity.id }) }}" class="ui-button ui-button-icon-only ui-icon ui-icon-pencil">edit</a>
					<a href="{{ path('content_delete', {'type': type, 'id': entity.id }) }}" class="ui-button ui-button-icon-only ui-icon ui-icon-trash">edit</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<nav>
		<a href="{{ path('content_create', {'type':type}) }}" class="ui-button ui-icon ui-icon-circle-plus"> Create a new entry</a>
	</nav>
</section>
{% endblock %}