{% extends "SnowcapSiteBundle::base.html.twig" %}
{% block meta_title %}{{ "contact.meta.title" | trans }}{% endblock %}
{% block meta_description %}{{ "contact.meta.description" | trans }}{% endblock %}
{% block meta_keywords %}{{ "contact.meta.keywords" | trans }}{% endblock %}
{% set body_class = 'contact' %}
{% block body %}
    <h1 class="main-title">{{ "contact.title" | trans }}</h1>
    <h2 id="mountain">{{ "general.snowcap" | trans }}</h2>
    <div class="full">
        <section class="main content standard">
            {{ "contact.body" | trans | markdown }}
            <ul class="social">
                <li class="mail"><a href="mailto:shoot@snowcap.be">shoot@snowcap.be</a></li>
                <li class="facebook"><a class="facebook" href="http://www.facebook.com/snwcp" title="{{ "general.facebook.like.title" | trans }}" rel="external">{{ "general.facebook.like.label" | trans }}</a></li>
                <li class="twitter"><a class="twitter" href="http://twitter.com/snwcp" title="{{ "general.twitter.follow.title" | trans }}" rel="external">{{ "general.twitter.follow.label" | trans }}</a></li>
            </ul>
            <!--<div class="snowcap-map"></div>-->
        </section>
    </div>
{% endblock %}