{% extends "SnowcapSiteBundle::base.html.twig" %}
{% set body_class = 'contact' %}
{% block body %}
    <h1 class="main-title">{{ "contact.title" | trans }}</h1>
    <h2 id="mountain">{{ "general.snowcap" | trans }}</h2>
    <div class="full">
        <section class="main content standard">
            {{ "contact.body" | trans | markdown }}
            <ul class="social">
                <li class="mail"><a href="mailto:shoot@snowcap.be">shoot@snowcap.be</a></li>
                <li class="facebook"><a href="#" title="Facebook like">{{ "general.facebook_link" | trans }}</a></li>
                <li class="twitter"><a href="#" title="Follow us on Twitter">{{ "general.twitter_link" | trans }}</a></li>
            </ul>
            <!--<div class="snowcap-map"></div>-->
        </section>
    </div>
{% endblock %}