{% extends "SnowcapSiteBundle::base.html.twig" %}
{% block meta %}
    {{
        macro.meta(
            "contact.meta.title" | trans,
            "contact.meta.description" | trans,
            "contact.meta.keywords" | trans
        )
    }}
{% endblock meta %}
{% set body_class = 'contact' %}
{% block body %}
    <h1 class="main-title">{{ "contact.title" | trans }}</h1>
    <h2 id="mountain">{{ "general.snowcap" | trans }}</h2>
    <div class="full">
        <section class="content standard">
            {{ "contact.body" | trans | markdown }}
            <address>
                <p class="name">{{ "contact.official_name" | trans }}</p>
                <p>
                    {{ "contact.address.street" | trans }}<br/>
                    {{ "contact.address.zip" | trans }} - {{ "contact.address.city" | trans }}<br/>
                    {{ "contact.address.country" | trans }}
                </p>
            </address>
            <ul class="social">
                <li class="mail"><a href="mailto:shoot@snowcap.be">shoot@snowcap.be</a></li>
                <li class="phone"><a href="#" onclick="return false;" title="{{ "contact.phone.type" | trans }}">{{ "contact.phone.number" | trans }}</a></li>
                <li class="twitter"><a href="http://twitter.com/snwcp" title="{{ "contact.twitter" | trans }}" rel="external">{{ "contact.twitter" | trans }}</a></li>
                <li class="facebook"><a href="http://www.facebook.com/snwcp" title="{{ "contact.facebook" | trans }}" rel="external">{{ "contact.facebook" | trans }}</a></li>
            </ul>
            <div class="snowcap-map"></div>
            <p class="geo">
                <strong>{{ "contact.latitude" | trans }}</strong> <span class="latitude">{{ "contact.address.latitude" | trans }}</span> <strong>{{ "contact.longitude" | trans }}</strong> <span class="longitude">{{ "contact.address.longitude" | trans }}</span>
            </p>
        </section>
    </div>
{% endblock %}