{% extends "SnowcapSiteBundle::base.html.twig" %}
{% set body_class = 'home' %}
{% block body %}
    <h1 class="home-title">{{ "general.snowcap" | trans }}</h1>
    <h2 class="baseline">{{ "general.baseline" | trans }}</h2>
    <div class="full">
        <section class="main content">
            {{ "general.nutshell" | trans | markdown }}
        </section>
        <section class="content projects">
            <h2>{{ "cases.latest.title" | trans }}</h2>
            {% render "SnowcapSiteBundle:Project:list" with {'limit': 3} %}
        </section>
    </div>
    <div class="split split-3">
        <img id="mask-image" src="{{ asset('/assets/front/images/mask.png') }}" />
        <section class="secondary content blog">
            {% render "SnowcapSiteBundle:Post:widget" with {'limit': 1} %}
        </section>
        <section class="secondary content tweets">
            {% render "SnowcapSiteBundle:Widget:tweets" %}
        </section>
        <section class="nerds">
            {% include "SnowcapSiteBundle:Widget:nerds.html.twig" %}
        </section>
    </div>
{% endblock %}
