{% extends "SnowcapSiteBundle::base.html.twig" %}
{% set body_class = 'home' %}
{% block body %}
    <div class="full">
        <section class="main content">
            <h1>{{ "general.snowcap" | trans }}</h1>
            <h2>{{ "general.baseline" | trans }}</h2>
            {{ "general.nutshell" | trans | markdown }}
        </section>
        <section class="projects content">
            <h2>{{ "project.latest.title" | trans }}</h2>
            {% render "SnowcapSiteBundle:Project:list" with {'limit': 3} %}
        </section>
    </div>
    <div class="split split-3">
        <img id="mask-image" src="{{ asset('/assets/front/images/mask.png') }}" />
        <section class="blog content secondary">
            {% render "SnowcapSiteBundle:Post:widget" with {'limit': 1} %}
        </section>
        <section class="tweets content secondary">
            {% render "SnowcapSiteBundle:Widget:tweets" %}
        </section>
        <section class="nerds">
            {% include "SnowcapSiteBundle:Widget:nerds.html.twig" %}
        </section>
    </div>
{% endblock %}
