{% extends "SnowcapSiteBundle::base.html.twig" %}
{% block meta %}
    {{
        macro.meta(
            "jobs.meta.title" | trans,
            "jobs.meta.description" | trans,
            "jobs.meta.keywords" | trans
        )
    }}
{% endblock meta %}
{% set body_class = 'jobs' %}
{% block body %}
    <h1 class="main-title">{{ "jobs.title" | trans }}</h1>
    <div class="full">
        <section class="main standard content">
            {{ "jobs.intro" | trans | markdown }}
            {{ "jobs.environment" | trans | markdown }}
            {{ "jobs.currently" | trans | markdown }}
            {% for job in ["web_developer_full", "web_developer_intern"] %}
                <h2>{{ ("jobs.open_positions." ~ job ~ ".title") | trans }}</h2>
                {{ ("jobs.open_positions." ~ job ~ ".description") | trans | markdown }}
                <h3>{{ "jobs.required_skills" | trans }}</h3>
                {{ ("jobs.open_positions." ~ job ~ ".required_skills") | trans | markdown }}
                <h3>{{ "jobs.desired_skills" | trans }}</h3>
                {{ ("jobs.open_positions." ~ job ~ ".desired_skills") | trans | markdown }}
                <p class="apply">{{ "jobs.apply" | trans }} <a href="#" class="obem"></a></p>
            {% endfor %}
        </section>
    </div>
{% endblock %}