<h2>{{ ("team." ~ member ~ ".name") | trans}}</h2>
<div class="member-details">
    <dl class="information">
        <dt class="age">{{ "team.age.title" | trans }}</dt>
        <dd class="age">{{ ("team." ~ member ~ ".birthdate") | trans | age }}</dd>
        <dt class="skills">{{ "team.skills.title" | trans }}</dt>
        <dd class="skills">
            {{ ("team." ~ member ~ ".skills") | trans | markdown }}
        </dd>
    </dl>
    <blockquote>"{{ ("team." ~ member ~ ".quote") | trans }}"</blockquote>
    {{ ("team." ~ member ~ ".body") | trans | markdown }}
    <ul class="social">
        <li class="twitter">
            <a href="http://twitter.com/{{ ("team." ~ member ~ ".twitter") | trans }}" title="{{ "team.twitter.title" | trans }}" rel="external">{{ "team.twitter.label" | trans }}</a>
        <li class="linkedin">
            <a href="http://be.linkedin.com/in/{{ ("team." ~ member ~ ".linkedin") | trans }}" title="{{ "team.linkedin.title" | trans }}" rel="external">{{ "team.linkedin.label" | trans }}</a>
        </li>
        <li class="github">
            <a href="http://github.com/{{ ("team." ~ member ~ ".github") | trans }}" title="{{ "team.github.title" | trans }}" rel="external">{{ "team.github.label" | trans }}</a>
        </li>
    </ul>
</div>
