{% extends "SnowcapSiteBundle::base.html.twig" %}
{% block meta_title %}{{ "services.meta.title" | trans }}{% endblock %}
{% block meta_description %}{{ "services.meta.description" | trans }}{% endblock %}
{% block meta_keywords %}{{ "services.meta.keywords" | trans }}{% endblock %}
{% set body_class = 'services' %}
{% block body %}
    <h1 class="main-title">{{ "services.title" | trans }}</h1>
    <div class="full">
        <section class="main content standard">
            {{ 'services.body' | trans | markdown }}
            {% include "SnowcapSiteBundle:widget:technologies.html.twig" with { 'technologies': technologies } %}
        </section>
    </div>
{% endblock %}
