{% extends "SnowcapSiteBundle:Admin:base.html.twig" %}
{% block body %}
<section class="section-700">
	<h2>{{ form_title }}</h2>
	<form action="{{ form_action }}" method="post" {{ form_enctype(form) }}>
		{{ form_errors(form) }}
		{{ form_row(form.title) }}
		{{ form_row(form.slug, {'widget_attr': {'class': 'widget-slug widget-slug-post_title'}}) }}
		<div class="form-row">
			{{ form_label(form.body) }}
			<div id="wmd-button-bar"></div>
			{{ form_widget(form.body, { 'attr': {'class': 'widget-markdown'}}) }}
		</div>
	    {{ form_row(form.published_at, { 'widget_attr': {'class': 'widget-datetimepicker'}}) }}
	    {{ form_rest(form) }}
		<p>
			<button type="submit" class="ui-icon ui-icon-circle-check">Save</button>
		</p>
	</form>
	<nav>
		<a href="{{ path('admin_posts') }}" class="ui-button ui-icon ui-icon-circle-triangle-w">Back to the list</a>
	</nav>
</section>
{% endblock %}