{% extends "SnowcapSiteBundle:Admin:base.html.twig" %}
{% block body %}
<section class="section-700">
	<h2>Post list</h2>
	<table class="listing">
		<thead>
			<tr>
				<th>Title</th>
				<th>Publication date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
			<tr>
				<td><a href="{{ url('admin_posts_show',{'id':entity.id}) }}">{{ entity.title }}</a></td>
				<td>{{ entity.publishedat|date('Y-m-d') }}</td>
				<td class="listing-actions">
					<a href="{{ path('admin_posts_show', { 'id': entity.id }) }}" class="ui-button ui-button-icon-only ui-icon ui-icon-zoomin">show</a>
					<a href="{{ path('admin_posts_edit', { 'id': entity.id }) }}" class="ui-button ui-button-icon-only ui-icon ui-icon-pencil">edit</a>
					<a href="{{ path('admin_posts_delete', { 'id': entity.id }) }}" class="ui-button ui-button-icon-only ui-icon ui-icon-trash">edit</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<nav>
		<a href="{{ path('admin_posts_new') }}" class="ui-button ui-icon ui-icon-circle-plus"> Create a new entry</a>
	</nav>
</section>
{% endblock %}