{% if project %}
    <div class="project-highlighted">
        <h3>{{ project.title }}</h3>
        <p>
            {{ project.introduction | markdown }}
            <a href="{{ url('snwcp_site_project_show', {'slug': project.slug}) }}" title="{{ 'Read more' | trans }}" class="read-more">{{ 'Read more' | trans }}</a>
        </p>
        <img src="{{ project.thumbFront.url | apply_filter('thumb') }}" />
    </div>
{% endif %}