{% if project %}
    <div class="project-highlighted">
        <h2>{{ project.title }}</h2>
        <div class="body">
            {{ project.introduction | markdown }}
            <a href="{{ url('snwcp_site_project_show', {'slug': project.slug}) }}" title="{{ 'Read more' | trans }}" class="read-more">{{ 'Read more' | trans }}</a>
        </div>
        <img src="{{ project.thumb_front.webPath | apply_filter('thumb') }}" class="thumb" />
    </div>
{% endif %}