<h2>{{ "project.latest.title" | trans }}</h2>
{% if latestProjects|length > 0 %}
    <ul>
        {% for project in latestProjects %}
            <li>
                <a href="{{ path('snwcp_site_project_show', {'slug': project.slug}) }}" title="{{ "project.link.title" | trans }}">
                    <img
                        class="front"
                        src="{{ project.thumb_front.webPath | apply_filter('thumb') }}"
                        alt="{{ project.thumb_front.alt }}"
                        title="{{ project.thumb_front.name }}"
                    />
                    <img
                        class="back"
                        src="{{ project.thumb_back.webPath | apply_filter('thumb') }}"
                        alt="{{ project.thumb_back.alt }}"
                        title="{{ project.thumb_back.name }}"
                    />
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{ "project.latest.empty" | trans }}</p>
{% endif %}