{% extends "SnowcapSiteBundle::base.html.twig" %}
{% block body %}
    <div class="full">
        <section class="main">
            <h1>{{ "project.list.title" | trans }}</h1>
            {% render 'SnowcapSiteBundle:Project:highlighted'%}
            {% if projects|length > 0 %}
                <ul class="project-list">
                    {% for project in projects %}
                        <li><a href="{{ url('snwcp_site_project_show', { 'slug': project.slug }) }}" title="{{ "project.link.title" | trans }}"><img src="{{ project.thumb_front.webPath | apply_filter('thumb') }}" alt="{{ "project.thumb.alt" | trans }}"/></a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{{ "project.list.empty" | trans }}</p>
            {% endif %}
        </section>
    </div>
{% endblock body %}