{% extends "SnowcapSiteBundle::base.html.twig" %}
{% import "SnowcapSiteBundle::macros.html.twig" as helper %}
{% block body %}
    <div class="full">
        <section class="main">
            <div class="summary">
                <h1>{{ project.title }}</h1>
                <div class="introduction">{{ project.introduction | markdown }}</div>
                <dl class="information">
                    <dt>{{ "project.client.label" | trans }}</dt>
                    <dd>{{ project.client}}</dd>
                    <dt>{{ "project.agency.label" | trans }}</dt>
                    <dd>{{ project.agency.name }}</dd>
                    <dt>{{ "project.realisation_period.label" | trans }}</dt>
                    <dd>{{ project.realisation_period }}</dd>
                </dl>
                <a href="{{ project.website }}" title="{{ 'project.website.title' | trans }}">{{ "project.website.label" | trans }}</a>
            </div>
            <div class="thumb flipper">{{ helper.project_image_flipper(project) }}</div>
            <div class="body">{{ project.body | markdown }}</div>
        </section>
    </div>
{% endblock %}