<h2><a href="http://twitter.com/snwcp" rel="external">{{ "widget.tweets.title" | trans }}</a></h2>
{% if tweets|length > 0 %}
    <ul>
        {% for tweet in tweets %}
            <li>
                <p class="date">{{ tweet.date | date('F Y') }} by {{ tweet.from_user }} - {{ ('@' ~ tweet.from_username) | parse_tweet }}</p>

                <p class="text">{{ tweet.text | parse_tweet }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{ "widget.tweets.empty" | trans }}</p>
{% endif %}