<h2>{{ "widget.tweets.title" | trans }}</h2>
{% if tweets|length > 0 %}
    <ul class="tweets-list">
        {% for tweet in tweets %}
            <li>
                <p>{{ tweet.date | date('F Y') }} <span>{{ "widget.tweets.by" | trans }}</span></p>
                <p>{{ tweet.text | parse_tweet }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{ "widget.tweets.empty" | trans }}</p>
{% endif %}